In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [32]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Data Penjualan Ayam.csv')
df.head()

   id         tgl  bulan  tahun  ...  bayaran supir  plat_mobil  ket
0   1  2021-01-17      1   2021  ...  1514744   NaN         NaN    2
1   2  2018-06-15      6   2018  ...  1874544   NaN         NaN    1
2   3  2020-02-17      2   2020  ...  2552796   NaN         NaN    1
3   4  2020-04-09      4   2020  ...   772080   NaN         NaN    2
4   5  2019-07-06      7   2019  ...  2096248   NaN         NaN    2

[5 rows x 16 columns]

In [8]:
import pandas as pd
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split

In [23]:
kolom_X = ['nama_perusahaan','jumlah_ayam','harga_unit']
kolom_y = ['total_harga']

X = df[kolom_X]
y = df[kolom_y]

In [24]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [ ]:
len(X_test)

In [ ]:
len(X_train)

In [ ]:
X_test

In [ ]:
X_train

In [ ]:
y_test

In [ ]:
y_train